<nav
  class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top navegador"
>
  <section class="container">
    <!-- <a class="navbar-brand" routerLink="/">Mi Tienda</a> -->
    <a class="navbar-brand" routerLink="/">My App</a>
    <section class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ">
        <!-- <li class="nav-item active">
          <a class="nav-link" routerLink="/menu">Home</a>
        </li> -->
        <li class="nav-item">
          <a
            class="nav-link btn btn-outline-danger"
            routerLink="/login"
            *ngIf="isLogged"
            (click)="logout()"
            >Logout
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" *ngIf="!isLogged">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/vista">Post</a>
        </li>
      </ul>
    </section>
  </section>
</nav>
